<header class="mb-auto">
	<div>
		<h3 class="float-md-start mb-0">Announcement Bot</h3>
		<nav class="nav nav-masthead justify-content-center float-md-end">
			<a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
			<a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
			<a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
		</nav>
	</div>
</header>