<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="title" content="Announcement Bot - IEE IHU">
        <meta name="description" content="A discord bot notifies you when an announcement is made on any channel you have active notifications for, or just privately. ">
        <meta name="keywords" content="iee,ihu,announcements,discord,bot">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="author" content="Alexandros Magos">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
        <title>Announcement Bot</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">Announcement Bot</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#features">Features</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5 text-white" src="assets/announcement.svg" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Don't be the last one to know..</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Can't wait for those test results? Waiting for a professor's announcement?</p>
                <p class="masthead-subheading font-weight-light mb-0">Get instant DM notifications on discord.</p>
                <p></p>
                <a href="https://discord.gg/2VbgPr23BJ"><button class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black">Start</button></a>
            </div>
        </header>

        <!-- features Section-->
        <section class="page-section features" id="features">
            <div class="container">
                <!-- features Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">features</h2>

                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- List of features-->
                <div class="row gx-lg-5">
                    <!-- <div class="row">
                        <div class="col pad"><a class="card square" href="#">
                            <div class="content padx"><img src="assets/fast.png"/>
                              <h3>Speed</h3>
                              <p>The bot checks every 2 minutes for new announcements.</p>
                            </div></a></div>
                        <div class="col pad"><a class="card square" href="#">
                            <div class="content padx"><img src="assets/data.png"/>
                              <h3>Private</h3>
                              <p>The only data we save, is the user's discord ID, the refresh and access token needed to access the API.</p>
                            </div></a></div>
                        <div class="col pad"><a class="card square" href="#">
                            <div class="content padx"><img src="assets/open-source.png"/>
                              <h3>Open-Source</h3>
                              <p>Don't trust us?</p>
                              <p>Check the code for yourself!</p>
                            </div></a></div>
                      </div> -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="fa-solid fa-gauge-high"></i></div>
                                <h2 class="fs-4 fw-bold">Speed</h2>
                                <p class="mb-0">The bot checks every 2 minutes for new announcements.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="fa-solid fa-lock"></i></div>
                                <h2 class="fs-4 fw-bold">Private</h2>
                                <p class="mb-0">The only data we save, is the user's discord ID, the refresh and access token needed to access the API.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="fa-solid fa-code"></i></div>
                                <h2 class="fs-4 fw-bold">Open-Source</h2>
                                <p class="mb-0">Don't trust us?</p>
                                <p class="mb-0">Check the code for yourself!</p>
                            </div>
                        </div>
                    </div>

            </div>
        </section>

        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <p></p>
                    <p class="lead">While experimenting with the university's API and waiting for the semester's final test results, the idea for the bot was inspired and came to fruition. The bot checks for new announcements every 5 minutes, can send you a private message with an announcement of a subject that you subscribed and send announcements sorted in channels.</p>
                </div>
            </div>
        </section>

        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <form id="form" class="needs-validation" validate>
                            <input type="hidden" id="catcha-res" name="catcha-res" />
                            
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" name="name" type="text" placeholder="Enter your name..." required />
                                <label for="name">Name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Discord input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" name="discord" type="text" pattern="^.{3,32}#[0-9]{4}$" placeholder="Wizard#9957" required />
                                <label for="discord">Discord</label>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" required></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                </div>
                            </div>

                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
							<div class="col-12 text-center">
								<button class="btn btn-primary btn-xl" id="submitButton" type="submit">Send</button>
							</div>
                            <!-- <button class="btn btn-dark btn-xl" id="submitButton" type="submit">Send</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer-->
        <footer class="footer text-center bg-dark">
            <div class="container">
                <div class="row">
                
                    <!-- Footer Social Icons-->
                    <div class="pb-3">
                        <h4 class="text-uppercase mb-4">Find me at:</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/AlexandrosMagos/"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/alexandrosmagos/"><i class="fab fa-fw fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/alexandrosmagos/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    </div>

                </div>
            </div>

            <!-- Copyright Section-->
            <div class="py-4 text-center text-white">
                <div class="container"><small>Copyright &copy; Alexandros Magos 2022</small></div>
            </div>
        </footer>


       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <!-- Google captcha v3 -->
        <script src="https://www.google.com/recaptcha/api.js?render=6Ldc4zUiAAAAAJI49MHtjfaSC5_wtYaAhD3zcJZ2"></script>
        <!-- JS-->
        <script src="js/scripts.js"></script>
        <!-- Basic modal -->
        <div class="modal fade" id="basicModal" tabindex="-1" aria-labelledby="basicModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title"></h5>
                    </div>
                    <div class="modal-body" id="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" id="modal-button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                const status = "<%= status %>";
                if (status == "acc_connected") {
                    showmodal("success", "Success!", "Your discord has been successfully connected to your account! You can now use the bot commands!");
                }
                if (status == "acc_error") {
                    showmodal("error", "Oh no..", "The went wrong with the authentication process, please try again.");
                }
            });
        </script>

    </body>
</html>
